* {
    margin: 0px;
    padding: 0px;
}

.head {
    width: 100%;
    height: 200px;
    background-color:  rgb(47, 48, 163);
}
.headline {
    color: white;
    padding-top: 50px;
    margin-left: 20px;
    font-size: 2.7em;
}
.nav {
    margin-top: 30px;
}
#home-icon {
    margin-left: 50px;
    font-size: 2em;
    color: rgb(255, 255, 9);
}
.login {
    float: right;
    
    margin-right: 50px;
    height: 50px;
    width: 130px;
    background-color: rgb(138, 146, 226);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.8s;
}
.user {
    margin-top: 80px;
    text-align: center;
    color: rgb(6, 6, 116);
}
.Register {
    margin-top: 25px;
    color: black;
    height: 60px;
    width: 170px;
    background-color: rgb(138, 146, 226);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.8s;
    box-shadow: black;
}
input:hover {
    background-color: rgb(0, 0, 125);
    color: white;
    cursor: pointer;
}
/* table 
{
    width:100%;
}

#header{
    background-color: blueviolet;
}

.user{
    text-align: center;
}

.login{
    background-color: blueviolet;
    height: 300px;
} */

