* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans JP', sans-serif;
}

.head {
    width: 100%;
    height: 200px;
    background: linear-gradient(0deg,  rgb(47, 48, 163), rgb(50, 50, 255));
}
.headline {
    color: white;
    padding-top: 50px;
    margin-left: 20px;
    font-size: 2.7em;
}
.nav {
    margin-top: 20px;
}
#home-icon {
    margin-left: 50px;
    font-size: 2.5em;
    color: rgb(255, 255, 9);
}
.login {
    float: right;
    margin-right: 50px;
    height: 50px;
    width: 130px;
    background: linear-gradient(45deg, rgb(138, 146, 226), rgb(191, 196, 235)) ;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}
.user {
    margin-top: 80px;
    text-align: center;
    color: rgb(6, 6, 116);
}
.Register {
    margin-top: 25px;
    color: black;
    height: 60px;
    width: 170px;
    background: linear-gradient(45deg, rgb(138, 146, 226), rgb(191, 196, 235));
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}
input:hover {
    color: white;
    background: linear-gradient(45deg, rgb(0, 0, 125), rgb(87, 86, 168));
    cursor: pointer;
    transition: 0.7s;
}
